 body{
    background: linear-gradient(skyblue, lightgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
 }
 h1{
   font-size: 100px;
   text-align: center;
 }
 h2{
   font-family: algerian;
   font-size: 50px;
   color: brown;
    text-align: center;

 }
 p.one{
   border: outset;
   width: 500px;
    border-radius: 50px;
    border-width: 4px;
    padding: 50px;
    font-size: 25px;
    background-color: aquamarine;
 }
 p{
  font-size: 25px;
 }
 li{
  font-size: 25px;
 }
  b.one{
    color: red;
  }
  b{
    font-size: 28px;
  }
  a{
    font-size: 25px;
  }
  td{
    font-size: 25px;
  }